@import url("https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap");
/* Global styles */
.window-app {
  font-family: "PT Serif", serif;
  -webkit-box-shadow: 0 0 20px #4dabf7;
  box-shadow: 0 0 20px #4dabf7;
}

.window-app .window-content {
  background: none;
  background-color: #e7f5ff;
}

.rollable:hover, .rollable:focus {
  color: #000000;
  text-shadow: 0 0 10px #1971c2;
  cursor: pointer;
}

.container {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (min-width: 33.75em) {
  .container {
    width: 80%;
  }
}

@media only screen and (min-width: 60em) {
  .container {
    width: 75%;
    max-width: 60rem;
  }
}

.row {
  position: relative;
  width: 100%;
}

.row [class^="col"] {
  float: left;
  margin: 0.25rem 2%;
  min-height: 0.125rem;
}

.row::after {
  content: "";
  display: table;
  clear: both;
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
  width: 96%;
}

.col-1-sm {
  width: 4.33333%;
}

.col-2-sm {
  width: 12.66667%;
}

.col-3-sm {
  width: 21%;
}

.col-4-sm {
  width: 29.33333%;
}

.col-5-sm {
  width: 37.66667%;
}

.col-6-sm {
  width: 46%;
}

.col-7-sm {
  width: 54.33333%;
}

.col-8-sm {
  width: 62.66667%;
}

.col-9-sm {
  width: 71%;
}

.col-10-sm {
  width: 79.33333%;
}

.col-11-sm {
  width: 87.66667%;
}

.col-12-sm {
  width: 96%;
}

@media only screen and (min-width: 45em) {
  .col-1 {
    width: 4.33333%;
  }
  .col-2 {
    width: 12.66667%;
  }
  .col-3 {
    width: 21%;
  }
  .col-4 {
    width: 29.33333%;
  }
  .col-5 {
    width: 37.66667%;
  }
  .col-6 {
    width: 46%;
  }
  .col-7 {
    width: 54.33333%;
  }
  .col-8 {
    width: 62.66667%;
  }
  .col-9 {
    width: 71%;
  }
  .col-10 {
    width: 79.33333%;
  }
  .col-11 {
    width: 87.66667%;
  }
  .col-12 {
    width: 96%;
  }
  .hidden-sm {
    display: block;
  }
}

/* Styles limited to frostgrave sheets */
.frostgrave .item-form {
  font-family: "PT Serif", serif;
}

.frostgrave .sheet-header {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 210px;
  flex: 0 0 210px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  margin-bottom: 10px;
}

.frostgrave .sheet-header .profile-img {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 130px;
  flex: 0 0 130px;
  height: 190px;
  margin-right: 10px;
  -o-object-fit: cover;
  object-fit: cover;
  border-color: #1971c2;
  border-width: 1px;
}

.frostgrave .sheet-header .header-fields {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.frostgrave .sheet-header .charname {
  height: 50px;
}

.frostgrave input[type="text"]:focus,
.frostgrave input[type="password"]:focus,
.frostgrave input[type="datetime-local"]:focus {
  -webkit-box-shadow: 0 0 5px #1971c2;
  box-shadow: 0 0 5px #1971c2;
}

.frostgrave input.bb {
  border-color: #1971c2;
  border-width: 1px;
  border-radius: 0px;
}

.frostgrave input.centered {
  text-align: center;
}

.frostgrave .sheet-tabs {
  -webkit-box-flex: 0;
  -ms-flex: 0;
  flex: 0;
}

.frostgrave .sheet-body,
.frostgrave .sheet-body .tab,
.frostgrave .sheet-body .tab .editor {
  height: 100%;
}

.frostgrave .tox .tox-editor-container {
  background: #ffffff;
}

.frostgrave .tox .tox-edit-area {
  padding: 0 8px;
}

.frostgrave .resource-label {
  font-weight: bold;
  text-transform: uppercase;
}

.frostgrave .tabs {
  height: 40px;
  border-top: 2px solid #1971c2;
  border-bottom: 2px solid #1971c2;
}

.frostgrave .tabs .item {
  line-height: 40px;
  font-weight: bold;
}

.frostgrave .tabs .item.active {
  text-decoration: underline;
  text-shadow: none;
}

.frostgrave .items-list {
  list-style: none;
  margin: 7px 0;
  padding: 0;
  overflow-y: auto;
}

.frostgrave .items-list .item-header {
  font-weight: bold;
}

.frostgrave .items-list .item {
  height: 30px;
  line-height: 24px;
  padding: 3px 0;
  border-bottom: 1px solid #1971c2;
}

.frostgrave .items-list .item .item-image {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 24px;
  flex: 0 0 24px;
  margin-right: 5px;
}

.frostgrave .items-list .item img {
  display: block;
}

.frostgrave .items-list .item-name {
  margin: 0;
}

.frostgrave .items-list .item-controls {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 86px;
  flex: 0 0 86px;
  text-align: right;
}
