.window-app .window-content {
  background: white;
}

.tabs .item.active {
  text-shadow: 0 0 5px #0096ff;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime-local"]:focus {
  -webkit-box-shadow: 0 0 5px #0096ff;
  box-shadow: 0 0 5px #0096ff;
}
