.window-app {
    box-shadow: 0 0 20px $accent-color;

    .window-content {
        background: none;
        background-color: hsl(206, 70%, 96%);
    }
}

.rollable {

    &:hover,
    &:focus {
        color: black;
        text-shadow: 0 0 10px $accent-color;
        cursor: pointer;
    }
}

::-webkit-scrollbar-thumb {
    outline: none;
    border-radius: 3px;
    background: $accent-color;
    border: 1px solid white;
}

a:hover {
    color: $accent-color;
    text-shadow: 0 0 5px white;
}

.editor-edit {
    display: none;
    font-size: 1.25em;
    position: absolute;
    top: 5px;
    right: 5px;
    background: none;
    border: none;
    border-radius: 0px;
    box-shadow: none;
}