.window-app {
    box-shadow: 0 0 20px $accent-color;
    .window-content {
        background: none;
        background-color: white;
    }
}

.rollable {
    &:hover,
    &:focus {
        color: black;
        text-shadow: 0 0 10px $accent-color;
        cursor: pointer;
    }
}

::-webkit-scrollbar-thumb {
    outline: none;
    border-radius: 3px;
    background: $accent-color;
    border: 1px solid white;
}

a:hover {
    color: $accent-color;
    text-shadow: 0 0 5px $accent-color;
}